*  {
  
}

li {
  list-style: none;
  
}

li a {
  text-decoration: none;
  color: #888888;
  line-height: 1.8;
}

.bg-red {
  background-color: #d35266;
}

.bg-black {
  background-color: #383838;
}

.bg-black50 {
  background-color: #888888;
}

.bg-black20 {
  background-color: #f2f2f2;
}

.text-red {
  color: #d35266;
}

.text-black {
  color: #383838;
}

.text-black50 {
  color: #888888;
}

.boxh-btn-place {
  height: 40px;
  /*width: 180px;*/
}

.list-box-item {
  width: 80px;
  padding-top: 5px;
}

.footer-col4 {
  margin-top: 30px;
}

.footer-social {
  max-width: 250px;
  
}