* {
  font-family: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

li {
  list-style: none;
  text-transform: capitalize;
}

li a {
  text-decoration: none;
  color: #888;
  line-height: 1.8;
  text-transform: capitalize;
}

.bg-red {
  background-color: #d35266;
}

.bg-black {
  background-color: #383838;
}

.bg-black50 {
  background-color: #888;
}

.bg-black20 {
  background-color: #f2f2f2;
}

.text-red {
  color: #d35266;
}

.text-black {
  color: #383838;
}

.text-black50 {
  color: #888;
}

/* nav-bar */
.nav-logo {
  max-height: 40px;
}

.nav-img-user {
  width: 40px;
}

footer li,
footer a {
  font-size: 18px;
}

/* search bar */
.boxh-btn-place {
  height: 40px;
}

.search-logo {
  max-width: 750px;
}

.boxh-search-place {
  align-self: center;
  padding: 0 50px;
}

/* checkbox side bar */
section h4 {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  padding-top: 10px;
}

.search-buttons {
  padding-top: 10px;
}

.ch-box-title {
  font-size: 14px;
  color: #383838;
}

/* search results */
.all-result {
  max-width: 1240px;
}

.all-result img {
  max-width: 400px;
}

@media (min-width: 768px) {
  .all-result img {
    max-width: 180px;
  }
}

/* hot deals */
.hot-deal img {
  max-width: 600px;
}

.card-body-hot {
  padding-left: 10vw;
}

.hot-deal-btn {
  width: 200px;
}

@media (min-width: 1024px) {
  .card-body-hot {
    padding-left: 100px;
  }
}

/* all categories */
.dropdown-toggle::after {
  content: none;
}

.all-cat {
  padding: 30px 0;
  max-width: 1440px;
}

.all-deal img {
  max-width: 400px;
}

.card-body-all {
  padding-left: 6vw;
  padding-right: 6vw;
  font-size: small;
  color: #888;
  line-height: 1.2;
}

.card-body-all a {
  font-size: medium;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .card-body-all {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .all-deal img {
    padding-left: 1vw;
  }
}

/* Footer */
.list-box-item {
  width: 80px;
  margin-top: 5px;
  padding: 4px;
}

.footer-col4 {
  margin-top: 30px;
}

.footer-social {
  max-width: 200px;
}

.company-line {
  font-size: 5px;
}
